<div class="container-fluid">
	<div class="row-fluid">
		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Place here the title" ng-model="editor_title">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Publish as ... <span class="caret"></span></button>
	        <ul class="dropdown-menu pull-right">
	          <li><a href="" ng-click="publishPost()">Post</a></li>
	          <li><a href="" ng-click="publishPage()">Page</a></li>
	        </ul>
	    </div>
	</div>
	<div class="row-fluid">
			<div class="col-md-6" ng-model="editor_body" ui-ace="{
				useWrapMode : true,
				showGutter: true,
				onLoad: aceChanged,
				onChange: aceChanged
				}" >
			</div>	

			<div class="col-md-6" ng-bind-html="editor_body | markdown">
			</div>
		</div>
	</div>
</div>

